//Banner Stylings

.banner {
  position: relative;
  padding: 80px 0 70px 0;
  min-height: 400px;
  background-color: $py;

  @media (min-width: $md) {
    min-height: 500px;
    padding: 40px 0 100px 0;
  }

  &--home {
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media (min-width: $md) {
      min-height: 500px;
      padding: 40px 0 100px 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
  }

  &__sub-heading {
    font-family: $osw;
    font-size: 18px;
    color: $b0;
    letter-spacing: 0.51px;
    font-weight: 300;
    text-transform: capitalize;

    @media (min-width: $sm) {
      font-size: 30px;
    }
  }

  &__heading {
    font-family: $osw;
    font-size: 25px;
    color: $w;
    font-weight: 500;
    text-transform: uppercase;

    @media (min-width: $md) {
      font-size: 30px;
    }

    @media (min-width: $lg) {
      font-size: 40px;
    }
  }

  &--about {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../img/about-banner.png') no-repeat, $py;
    // background-size: cover;
    background-position: right;

    .container {
      display: flex;
      align-items: center;
      justify-content: center;

      @media (min-width: $sm) {
        justify-content: flex-start;
      }

      .banner__content {
        @media (min-width: $sm) {
          justify-content: flex-start;
        }
      }

      .banner__sub-heading {
        text-transform: uppercase;

        @media (min-width: $md) {
          font-size: 40px;
        }

        @media (min-width: $lg) {
          font-size: 50px;
        }
      }
    }
  }
}

.banner-dots {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

.banner-product-img {
  width: 100%;
  max-width: 490px;
}
