//Header Stylings


.navbar-brand {
  position: absolute;
  top: 0;
  background-color: $w;
  padding: 10px;
}

.nav-link {
  position: relative;
  padding: 10px 0 !important;
  font-family: $sspro;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.92px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 50%;
    background-color: $w;
    transition: all 0.3s ease;
    transform: scaleX(0);
    transform-origin: left;
  }
}

.navbar {
  z-index: 90;
  padding: 20px 40px;
  background-color: $py;
  transition: all 0.5s ease;

  @media (min-width: $sm) {
    padding: 20px 80px;
  }

  &.active {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: $w;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);

    .nav-link {
      &::after {
        background-color: $py;
      }
    }
  }
}

.navbar-toggler {
  margin-left: auto;
  border: none;
}

.nav-item {
  margin-left: 10px;
  padding: 0 10px;
  opacity: 0.8;
  transition: opacity 1s ease;

  &:hover {
    .nav-link {
      &::after {
        transform: scaleX(1);
      }
    }
  }

  &.active {
    opacity: 1;

    &.active {
      .nav-link {
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }

  &:last-child {
    margin-left: 0;
  }
}

.navbar-nav {
  margin-left: auto;
}

.navbar-logo {
  width: 50px;
  height: auto;
}
