footer.footer
  .container
    .row
      .col-sm-12
        .d-sm-flex.justify-content-between
          ul.footer-list
            li.footer-list__item
              h2.footer__text
                | © Copyright 2018, VIKAS Industries. All rights reserved.
            li.footer-list__item
              p.footer__text
                | Crafted by : Design Garrage

          p.footer__text.text-uppercase.contact
            | Phone  +91 8251 231 445 / 232 445
