header.header
  nav.navbar.navbar-expand-md.navbar-light
    a.navbar-brand(href='index.html')
      img.navbar-logo(src="./img/logo.png")
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
            li.nav-item.active
                a.nav-link(href='index.html')
                    | Home
            li.nav-item
                a.nav-link(href='about.html') About us
            li.nav-item
                a.nav-link(href='javascript:void(0);') Products
            li.nav-item
                a.nav-link(href='javascript:void(0);') Contact us
