section(class='products')
  .container.product-container
    .row.mb-5
      .col-sm-7.product-data-wrapper.text-left
        .d-flex.align-items-center.mb-2
          img(class='product-icon mr-3', src='./img/product-icon.png', alt='')
          h2(class='product-heading')
            | long life
        p.product-desc The following features contribute to long life of Batteries :
          p(class='product-desc')
            span(class='mx-1') GRID
            |               - Is made out of a special alloy of lead to combat corrosion
          p(class='product-desc')
            span(class='mx-1') SEPARATORS
            |               - Microporous Separators made from selected PVC resins
            |               are employed in the production, Separators possess good
            |                acid & temperature resistance, mechanical strength and low internal resistance.
      .col-sm-5.product-img-wrapper.text-center
        img.img-fluid(src='./img/product-img.png' alt="product")

    .row.mb-5.flex-column-reverse.flex-sm-row
      .col-sm-5.product-img-wrapper.text-center
        img.img-fluid(src='./img/product-img.png' alt="product")
      .col-sm-7.product-data-wrapper.text-left
        .d-flex.align-items-center.mb-2
          img(class='product-icon mr-3', src='./img/product-icon.png', alt='')
          h2(class='product-heading')
            | More Power
        p.product-desc
          | Maximum electrical power is obtained due to their very precise design parameters. During the preparation of plates, absolute controls are exercised to get optimum results of electrochemical reactions. Deep discharge abilities of batteries are demonstrated due to the selection of special expanders in the mixing of the paste.

    .row.mb-5
      .col-sm-7.product-data-wrapper.text-left
        .d-flex.align-items-center.mb-2
          img(class='product-icon mr-3', src='./img/product-icon.png', alt='')
          h2(class='product-heading')
            | Minimum Maintenance
        p.product-desc Hi Tech batteries give trouble-free performance with minimum maintenance for many long years.
      .col-sm-5.product-img-wrapper.text-center
        img.img-fluid(src='./img/product-img.png' alt="product")


    .row.mb-5.flex-column-reverse.flex-sm-row
      .col-sm-5.product-img-wrapper.text-center
        img.img-fluid(src='./img/product-img.png' alt="product")
      .col-sm-7.product-data-wrapper.text-left
        .d-flex.align-items-center.mb-2
          img(class='product-icon mr-3', src='./img/product-icon.png', alt='')
          h2(class='product-heading')
            | Quality Control
        p.product-desc
          | The raw materials for the production of HI-TECH batteries are subject to rigorous laboratory tests for checking conformity to standards. Further stringent tests are carried out at every stage of manufacture to ensure uniformity of process parameters.

    .row.mb-5
      .col-sm-7.product-data-wrapper.text-left
        .d-flex.align-items-center.mb-2
          img(class='product-icon mr-3', src='./img/product-icon.png', alt='')
          h2(class='product-heading')
            | Warranty
        p.product-desc Hi Tech Batteries are bundled with a warranty package of THREE years against all its manufacturing defects and premature failures, though the life expectancy of the batteries are much more than three years when maintained properly.
      .col-sm-5.product-img-wrapper.text-center
        img.img-fluid(src='./img/product-img.png' alt="product")


