section.productdetail.text-center
  .container
    .row.d-flex
      .col-sm-7.p-0.d-flex
        .productdetail-card.productdetail-card--slider.text-center
          .productdetail-slider-w.w-100
            ul.productdetail-slider
              li
                img.product-img.img-fluid(src="./img/product-img.png")
              li
                img.product-img.img-fluid(src="./img/product-img.png")
              li
                img.product-img.img-fluid(src="./img/product-img.png")


      .col-sm-5.p-0.d-flex.position-relative
        a.productcontent-next-btn(href="javascript:void(0);")
          img.img-fluid(src="./img/right-arrow.svg")
        .productdetail-card.text-left
          ul.productcontent-slider
            li
              h3(class='product-card__heading')
                | HI-Tech
                span.mx-1 Batteries
              p(class='product-card__sub-heading mb-2') Single tubular

              p.product-desc
                | Hi Tech Batteries are bundled with a warranty package of THREE years against all its manufacturing defects and premature failures, though the life expectancy of the batteries are much more than three years when maintained properly.

              p.product-desc
                | Hi Tech Batteries are bundled with a warranty package of THREE years against all its manufacturing.

              a.button.button--blue(href="javascript:void(0);")
                | view details

            li
              h3(class='product-card__heading')
                | HI-Tech
                span Batteries
              p(class='product-card__sub-heading') Jumbo tubular

              p.product-desc
                | Hi Tech Batteries are bundled with a warranty package of THREE years against all its manufacturing defects and premature failures, though the life expectancy of the batteries are much more than three years when maintained properly.

              p.product-desc
                | Hi Tech Batteries are bundled with a warranty package of THREE years against all its manufacturing.

              a.button.button--blue(href="javascript:void(0);")
                | view details
    //- .row
    //-   .col-sm-12.p-0
    //-     h2 table
