section.productdetail.text-center
  .container
    .row.d-flex
      .col-sm-7.p-0.d-flex
        .productdetail-card.productdetail-card--slider.text-center
          .productdetail-slider-w.w-100
            ul.productdetail-slider
              li
                img.product-img.img-fluid(src="./img/product-img.png")
              li
                img.product-img.img-fluid(src="./img/product-img.png")
              li
                img.product-img.img-fluid(src="./img/product-img.png")


      .col-sm-5.p-0.d-flex.position-relative
        a.productcontent-next-btn(href="javascript:void(0);")
          img.img-fluid(src="./img/right-arrow.svg")
        .productdetail-card.text-left
          ul.productcontent-slider
            li
              h3(class='product-card__heading')
                | HI-Tech
                span.mx-1 Batteries
              p(class='product-card__sub-heading mb-2') Single tubular

              p.product-desc
                | Hi Tech Batteries are bundled with a warranty package of THREE years against all its manufacturing defects and premature failures, though the life expectancy of the batteries are much more than three years when maintained properly.

              p.product-desc
                | Hi Tech Batteries are bundled with a warranty package of THREE years against all its manufacturing.

              a.button.button--blue.js-single-table(href="javascript:void(0);")
                | view details

            li
              h3(class='product-card__heading')
                | HI-Tech
                span Batteries
              p(class='product-card__sub-heading') Jumbo tubular

              p.product-desc
                | Hi Tech Batteries are bundled with a warranty package of THREE years against all its manufacturing defects and premature failures, though the life expectancy of the batteries are much more than three years when maintained properly.

              p.product-desc
                | Hi Tech Batteries are bundled with a warranty package of THREE years against all its manufacturing.

              a.button.button--blue.js-jumbo-table(href="javascript:void(0);")
                | view details
    .row
      .col-sm-12.p-0
        .table-responsive.single-tubular.d-none
          table.table.product-table
            thead
              tr
                th(scope='col' colspan="2") Battery Type
                th(scope='col') Nominal Voltage
                th(scope='col') Capacity@20 HR
                th(scope='col') Weight in Kgs
                th(scope='col' colspan="3") Dimensions in mm
                th(scope='col') Max charging current
                th(scope='col') Working Voltage
                th.backup(scope='col') Back up Duration @400 Watts load
                th(scope='col') Warranty
            tbody
              tr
                td(colspan="2") HT 060 ST
                td 12 V
                td 60 Ah
                td 42
                td 515
                td 272
                td 285
                td 06 Amps
                td 10.5V to 13.8V
                td.backup 1Hr 05 Mins
                td 3 Years
              tr
                td(colspan="2") HT 060 ST
                td 12 V
                td 60 Ah
                td 42
                td 515
                td 272
                td 285
                td 06 Amps
                td 10.5V to 13.8V
                td.backup 1Hr 05 Mins
                td 3 Years
              tr
                td(colspan="2") HT 060 ST
                td 12 V
                td 60 Ah
                td 42
                td 515
                td 272
                td 285
                td 06 Amps
                td 10.5V to 13.8V
                td.backup 1Hr 05 Mins
                td 3 Years
              tr
                td(colspan="2") HT 060 ST
                td 12 V
                td 60 Ah
                td 42
                td 515
                td 272
                td 285
                td 06 Amps
                td 10.5V to 13.8V
                td.backup 1Hr 05 Mins
                td 3 Years
      .col-sm-12.p-0
        .table-responsive.jumbo-tubular.d-none
          table.table.product-table
            thead
              tr
                th(scope='col' colspan="2") Battery Type
                th(scope='col') Nominal Voltage
                th(scope='col') Capacity@20 HR
                th(scope='col') Weight in Kgs
                th(scope='col' colspan="3") Dimensions in mm
                th(scope='col') Max charging current
                th(scope='col') Working Voltage
                th.backup(scope='col') Back up Duration @400 Watts load
                th(scope='col') Warranty
            tbody
              tr
                td(colspan="2") HT 060 ST
                td 12 V
                td 60 Ah
                td 42
                td 515
                td 272
                td 285
                td 06 Amps
                td 10.5V to 13.8V
                td.backup 1Hr 05 Mins
                td 3 Years
              tr
                td(colspan="2") HT 060 ST
                td 12 V
                td 60 Ah
                td 42
                td 515
                td 272
                td 285
                td 06 Amps
                td 10.5V to 13.8V
                td.backup 1Hr 05 Mins
                td 3 Years
              tr
                td(colspan="2") HT 060 ST
                td 12 V
                td 60 Ah
                td 42
                td 515
                td 272
                td 285
                td 06 Amps
                td 10.5V to 13.8V
                td.backup 1Hr 05 Mins
                td 3 Years
              tr
                td(colspan="2") HT 060 ST
                td 12 V
                td 60 Ah
                td 42
                td 515
                td 272
                td 285
                td 06 Amps
                td 10.5V to 13.8V
                td.backup 1Hr 05 Mins
                td 3 Years

