section.banner.banner--about
  .container
    .row
      .col-sm-12.text-left
        .banner__content(data-aos="fade-right")
          h4.banner__sub-heading
            | High Performance on all
            br
            | Solar Applications
  .ocean
    .wave
    .wave
