section.about-content
  .container
    .row
      .col-sm-12
        .d-flex.justify-content-center.align-items-center
          .about-content-wrapper.text-center(data-aos="fade-down")

            h2.section-heading.mb-5
              | Vikas Industries

            p.section-desc.mb-3.mt-3
              | A well known company for top quality products, established for the manufacture of various types of Lead Acid Batteries in a wide range, is situated at PUTTUR, Dakshina Kannada district, India.

            p.section-desc.mb-3
              | The factory is fully equipped with various modern battery manufacturing machineries such as Grid Casting, Paste Mixing, Plate Formation / Drying & above all, the state of the art fully computerized Charging and Product Line Testing (PLT), Capacity Testing systems to ensure products of the highest quality standards. The company has extensive technical know-how for manufacturing various types of batteries through the active association with the top notch professionals in the field of battery manufacturing.

            p.section-desc.mb-5
              | This has resulted in producing a range of top quality batteries to meet the ever growing demand and expectations from our valued customers.

            img.img-fluid.about-product-img(src="./img/about-product-img.png" alt="featured product")
