aside.sidebar
  ul.sidebar-list
    li.sidebar-list__item
        a.nav-link(href='javascript:void(0);')
            | Home
    li.sidebar-list__item
        a.nav-link(href='javascript:void(0);') About us
    li.sidebar-list__item
        a.nav-link(href='javascript:void(0);') Products
    li.sidebar-list__item
        a.nav-link(href='javascript:void(0);') Contact us
