section.getintouch
  .container
    .getintouch__wrapper
      .row
        .col-sm-12
            h2.getintouch__form-title request a demo
        .col-sm-12
          form.row.getintouch__form#contact-form(action="" data-parsley-validate)
              .col-sm-6
                  .input-field.input-block
                      input.input-data.input__field(id="name" type="text" name="name" data-parsley-error-message="* Please enter your Name" data-parsley-required required)
                      label.input__label(for="name")
                          | Your Name
                      span.focus-border
              .col-sm-6
                  .input-field.input-block
                      input.input-data.input__field(id="email" type="text" name="email" data-parsley-type="email" data-parsley-error-message="* Please enter your address" data-parsley-required required)
                      label.input__label(for="name")
                          | email address
                      span.focus-border
              .col-sm-6
                  .input-field.input-block
                      input.input-data.input__field(id="phone" type="text" name="phone"  data-parsley-type="number" data-parsley-error-message="* Please enter your phone number" data-parsley-required required)
                      label.input__label(for="phone")
                          | phone
                      span.focus-border
              .col-sm-6
                  .input-field.input-block
                      input.input-data.input__field(id="company" type="text" name="company" data-parsley-error-message="* Please enter the company" data-parsley-required required)
                      label.input__label(for="company")
                          | company
                      span.focus-border

              .col-sm-10
                  .input-field.input-block
                      textarea.input-data.input__field(id="message" type="textarea" rows="2" name="message")
                      label.input__label(for="message")
                          | message
                      span.focus-border
              .col-sm-2
                  .submit-wrapper
                      input.getintouch__submit-btn(type="submit" value="")
