section.aboutus
  .container
    .col-sm-12.center
      .card-container
        .card.text-center.card--about(data-aos="flip-down")
          .card__header.d-flex.justify-content-center.align-items-center
            h2.section-heading
              | about us
          .card__body.mt-2
            p.section-desc.text-center
              | Design is the method of putting form and content together. Design, just as art, has multiple definitions; there is no single definition. Design can be art. Design can be aesthetics. Design is so simple, that's why it is so complicated.
          .card__actions.d-flex.justify-content-center.align-items-center
            a(href="javascript:void(0);").link.mt-3
              | read more
