section.banner.banner--home
  img.banner-dots(src="./img/dots.png" alt="")
  .container
    .row
      .col-sm-6
        .banner__content
          h4.banner__sub-heading
            | Hi-Tech Batteries
          h2.banner__heading
            | Power for a Better Tomorrow
      .col-sm-6
        img.banner-product-img(data-tilt data-tilt-max="50" data-tilt-speed="400" data-tilt-perspective="500" data-tilt-glare data-tilt-max-glare="0.8" src="./img/banner-product.png" alt="product")
