section(class='banner banner--home d-flex')
  img(class='banner__img', src='./img/banner-img.png', alt='banner')
  div(class='container-fluid p-0 d-flex')
    div(class='row w-100 m-0 d-flex')
      div(class='col-md-6 h-50')
        h2(class='d-none') Section 1
      div(class='col-md-6 banner__content')
        div(class='banner-slider')
          h2(class='banner-slider__heading') Hi-Tech

          ul.home-slider
            li.home-slider__slide
              div(class='banner-content')
                h3(class='banner-content__data')
                  | Best Quality
                  span Best Price

            li.home-slider__slide
              div(class='banner-content')
                h3(class='banner-content__data')
                  | Suitable for all types of
                  span Ups and Inverters

            li.home-slider__slide
              div(class='banner-content')
                h3(class='banner-content__data')
                  | High Performance on all
                  span Solar applications






