section.banner.banner--home
  img.banner-dots(src="./img/dots.png" alt="")
  .container
    .row
      .col-sm-6
        .banner__content(data-aos="fade-right")
          h4.banner__sub-heading
            | grab the power
          .banner-slider-wrapper
            .swiper-container.home
              .swiper-wrapper
                .swiper-slide
                  h2.banner__heading.home
                    | Best Quality Best Price
                .swiper-slide
                  h2.banner__heading.home
                    | Suitable for all types of Ups and Inverters
                .swiper-slide
                  h2.banner__heading.home
                    | High Performance on all Solar applications
      .col-sm-6(data-aos="fade-left")
        img.banner-product-img(data-tilt data-tilt-max="50" data-tilt-speed="400" data-tilt-perspective="500" data-tilt-glare data-tilt-max-glare="0.8" src="./img/banner-product.png" alt="product")

  .ocean
    .wave
    .wave
