section.banner.banner--home
  img.banner-dots(src="./img/dots.png" alt="")
  .container
    .row
      .col-sm-6
        .banner__content
          h4.banner__sub-heading
            | Hi-Tech Batteries
          h2.banner__heading
            | Power for a Better Tomorrow
      .col-sm-6
        img.banner-product-img(src="./img/banner-product.png" alt="product")
