section(class='products')
  div(class='container')
    div(class='row')
      div(class='col-sm-12 text-center mb-3')
        h2.section-heading products
      div(class='col-sm-12')
        div(class='products-wrapper')
          div(class='product-card one active')
            h3(class='product-card__heading')
              | HI-Tech
              span Batteries
            p(class='product-card__sub-heading') Single tubular
            div(class='product-card__img-wrapper')
              img(class='product-card__img', src='./img/product-1.png', alt='Product')
            div(class='product-card__actions mb-3')
              a(class='button button--yellow') more details

          div(class='product-card')
            h3(class='product-card__heading')
              | HI-Tech
              span Batteries
            p(class='product-card__sub-heading') Jumbo tubular
            div(class='product-card__img-wrapper')
              img(class='product-card__img', src='./img/product-1.png', alt='Product')
            div(class='product-card__actions mb-3')
              a(class='button button--yellow', href='products.html') more details

