section(class='testimonials')
  div(class='container')
    div(class='row')
      div(class='col-sm-12 text-center')
        h2.section-heading testimonials
      .col-sm-12.text-center.testimonials-wrapper

        ul.testimonial-slider

          li.testimonial-slider__slide
            div(class='testimony')
              h3(class='testimony__content')
                | With greater access to teachers outside of academia, higher education institutions and learning platforms can bring in relevant real-world expertise. For experts, this is a great opportunity to build reputation, meet future peers or customers and increase their impact.
              p(class='testimony__author')
                | - By
                span.mx-1 Merry Jain

          li.testimonial-slider__slide
            div(class='testimony')
              h3(class='testimony__content')
                | With greater access to teachers outside of academia, higher education institutions and learning platforms can bring in relevant real-world expertise. For experts, this is a great opportunity to build reputation, meet future peers or customers and increase their impact.
              p(class='testimony__author')
                | - By
                span.mx-1 Merry Jain

          li.testimonial-slider__slide
            div(class='testimony')
              h3(class='testimony__content')
                | With greater access to teachers outside of academia, higher education institutions and learning platforms can bring in relevant real-world expertise. For experts, this is a great opportunity to build reputation, meet future peers or customers and increase their impact.
              p(class='testimony__author')
                | - By
                span.mx-1 Merry Jain

