section.our-testimonials
  .container
    .row
      .col-sm-12
        h2.section-heading.section-heading--testimonials.mb-5
          | OUR Testimonials

    .row
      .col-sm-12
         .product-slider-wrapper
            .swiper-container.testimonials
              // Additional required wrapper
              .swiper-wrapper
                // Slides
                .swiper-slide
                  .card.card--product
                    img.product-img(src="./img/product-img1.png" alt="product 1")
                    h2.product-title
                      | HI-TECH BAtteries
                .swiper-slide
                  .card.card--product
                    img.product-img(src="./img/product-img2.png" alt="product 1")
                    h2.product-title
                      | HI-TECH BAtteries
                .swiper-slide
                  .card.card--product
                    img.product-img(src="./img/product-img1.png" alt="product 1")
                    h2.product-title
                      | HI-TECH BAtteries
                .swiper-slide
                  .card.card--product
                    img.product-img(src="./img/product-img1.png" alt="product 1")
                    h2.product-title
                      | HI-TECH BAtteries
              // If we need navigation buttons
              .swiper-button-prev
              .swiper-button-next
