section.our-testimonials
  .container
    .row
      .col-sm-12
        h2.section-heading.section-heading--testimonials.mb-5
          | OUR Testimonials

    .row
      .col-sm-12
         .product-slider-wrapper
            .swiper-container.testimonials
              // Additional required wrapper
              .swiper-wrapper
                // Slides
                .swiper-slide
                  .card.card--timeline.testimonial-item
                    img.testimonial-item__quote(src="./img/testimonial-quote.png" alt="quote")
                    p.section-desc
                      | Design is the method of putting form and content together. Design, just as art, has multiple definitions; there is no single definition. Design can be art. Design can be aesthetics. Design is so simple, that's why it is so complicated.
                    p.testimonial-item__name
                      | Ramachandra
                    p.testimonial-item__desig
                      | Director-Vikas
                .swiper-slide
                  .card.card--timeline.testimonial-item
                    img.testimonial-item__quote(src="./img/testimonial-quote.png" alt="quote")
                    p.section-desc
                      | Design is the method of putting form and content together. Design, just as art, has multiple definitions; there is no single definition. Design can be art. Design can be aesthetics. Design is so simple, that's why it is so complicated.
                    p.testimonial-item__name
                      | Ramachandra
                    p.testimonial-item__desig
                      | Director-Vikas
                .swiper-slide
                  .card.card--timeline.testimonial-item
                    img.testimonial-item__quote(src="./img/testimonial-quote.png" alt="quote")
                    p.section-desc
                      | Design is the method of putting form and content together. Design, just as art, has multiple definitions; there is no single definition. Design can be art. Design can be aesthetics. Design is so simple, that's why it is so complicated.
                    p.testimonial-item__name
                      | Ramachandra
                    p.testimonial-item__desig
                      | Director-Vikas
            // If we need navigation buttons
            .swiper-button-prev.testimonial
            .swiper-button-next.testimonial
