.about-content {
  padding: 30px;

  @media (min-width: $sm) {
    padding: 100px 60px 100px 60px;
  }
}

.about-content-wrapper {
  max-width: 757px;
  margin: 0 auto;
}

.about-product-img {
  margin-top: 100px;
}
