doctype html
html(lang='en')
  include pug/base/head
  include pug/base/header

  body
    main
      include pug/layouts/about/banner
      include pug/layouts/about/content

      include pug/base/footer

      include pug/components/overlay
      include pug/components/sidebar


