doctype html
html(lang='en')
  include pug/base/head
  include pug/base/header

  body
    main
      include pug/layouts/contact/banner
      include pug/layouts/contact/content

      include pug/base/footer

      include pug/components/overlay
      include pug/components/sidebar

      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.8.1/parsley.min.js")
      script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXy1BqkAoOR5OSCiO4nVvXHo4m9XZiRfs")
      script.
        function initMap() {

          // Styles a map in night mode.
          var mluru = {lat: 12.768676, lng: 75.207062};

          var map = new google.maps.Map(document.querySelector('.map'), {
            center: mluru,
            zoom: 15,
            disableDefaultUI: true
          });
          var marker = new google.maps.Marker({
            position: mluru,
            map: map
          });
        }

        initMap();


