doctype html
html(lang='en')
  include pug/base/head
  include pug/base/header

  body

    include pug/layouts/home/banner
    include pug/layouts/home/about
    include pug/layouts/home/products
    include pug/layouts/home/testimonial

    include pug/base/footer

    include pug/components/overlay
    include pug/components/sidebar

    script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/js/swiper.min.js")

